description = "Top menu"

[viewBag]
==
{%
set menus = {
    home: {url: '',  title: 'Home', file: 'home'},
    tentangDigistlab: {url: 'tentang-digistlab',  title: 'Tentang Digistlab', file: 'tentang-digistlab'},
    produkDanLayanan: {url: 'produk-dan-layanan',  title: 'Produk dan layanan', file: 'produk-dan-layanan'},
    blog: {url: 'blog',  title: 'Blog', file: 'blog'}
}
%}

<ul class="uk-nav uk-navbar-nav uk-visible@s">
    {% for menu in menus %}
        <li class="uk-navbar-item {{this.page.baseFileName == menu.file ? ' uk-active': ''}}"><a href="{{('/'~menu.url)|app}}">{{menu.title}}</a></li>
    {% endfor %}
</ul>