description = "Default template"
==
<!DOCTYPE html>
<html lang="en">
<head>
    {% partial 'head' %}
    {% placeholder meta_og default %}
    <meta property="og:title" content="{{ this.page.meta_title|default(this.page.title) }}" />
    <meta property="og:description" content="{{ this.page.meta_description|default(this.page.description) }}" />
    <meta property="og:url" content="{{this.controller.currentPageUrl()}}" />
    {% endplaceholder %}
</head>
<body>
<div class="uk-navbar-container">
    <div uk-sticky="media: @s;show-on-up: true;animation: uk-animation-slide-top;cls-inactive: uk-navbar-transparent;top: 400" class="uk-navbar-container tm-navbar-container uk-light uk-section-primary">
        <div class="uk-container uk-container-expand">
            <nav uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="{{''|app}}">
                        <img class="uk-logo uk-responsive-height" src="{{'digist-lab-logo-white-small.png' | media}}" alt="logo">
                        <img class="uk-logo-inverse uk-responsive-height" src="{{'digistlab-logo-white-small-tranparent.png' | media}}" alt="logo">
                    </a>
                </div>
                <div class="uk-navbar-right">
                    {% partial 'top_nav' %}
                    <a uk-navbar-toggle-icon="#" href="#offcanvas" uk-toggle="" class="uk-navbar-toggle uk-hidden@s uk-navbar-toggle-icon uk-icon" uk-icon="icon: menu"></a>
                </div>
            </nav>
        </div>
    </div>
</div>
    {% page %}
    {% partial 'footer' %}
    <script src="{{ ('assets/js/uikit-icons.min.js')|theme }}?v={{ this.theme.version }}"></script>
</body>
</html>